<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
    <a class="nav-item nav-link ml-3" routerLink="/add-driver">Add Driver</a>
    <a class="nav-item nav-link" routerLink="/add-transit">Add Transit</a>
    <a class="nav-item nav-link " style="color:firebrick" routerLink="/delete-driver">Delete Driver</a>
    <a class="nav-item nav-link " style="color:firebrick" routerLink="/delete-transit">Delete Transit</a>
    <!--    todo: add 3 dropdown lists for driver, transit, reports !!!-->
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5" *ngIf="!currentUser">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/register" class="btn btn-info">Register</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/login" class="btn btn-info">Login</a>
            </li>
          </ul>
        </div>
      </div>
      <app-alert></app-alert> <!--Adds whole AlertComponent SPA -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
