<div class="card my-5">
  <div class="card-body bg-light">
    <h2>Login Form</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="login">Login</label>
        <input [class.is-invalid]="login.invalid && login.touched"
               class="form-control" formControlName="login" type="text" id="login">
        <small *ngIf="login.touched && login.invalid && login.errors?.required" class="text-danger"> Username is
          required
        </small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [class.is-invalid]="password.invalid && password.touched"
               class="form-control" formControlName="password" type="password" id="password">
        <small *ngIf="password.touched && password.invalid && password.errors?.required" class="text-danger"> Password
          is required
        </small>
      </div>
      <button [disabled]="!loginForm.valid" class="btn btn-info" type="submit">Send</button>
      <button (click)="clearForm()" class="btn btn-danger ml-1" type="submit">clear</button>
    </form>
  </div>
</div>
